<template>
  <div class="circle" :class="classes" @click="$emit('click')">&nbsp;</div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      required: true
    },
    valid: {
      type: Boolean,
      required: true
    }
  },

  computed: {
    classes() {
      return {
        [this.color]: true,
        valid: this.valid
      }
    }
  }
}
</script>

<style>
.circle {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  width: 32px;
  height: 32px;
  margin: 4px;
  cursor: not-allowed;
}

.circle.valid {
  cursor: pointer;
}

.circle.red {
  background: lightcoral;
}

.circle.green {
  background: lightgreen;
}

.circle.blue {
  background: dodgerblue;
}

.circle.yellow {
  background: sandybrown;
}

.circle.black {
  background: black;
}

.circle.white {
  background: white;
}
</style>
