<template>
  <div class="grid">
    <div
      v-for="(row, rowIndex) in fields"
      :key="rowIndex"
      class="row"
    >
      <circle-field
        v-for="(field, columnIndex) in row"
        :key="field.id"
        :color="field.color"
        :valid="isValid(rowIndex, columnIndex)"
        @click="moveTo(rowIndex, columnIndex)"
      />
    </div>

    <remaining-colors :values="remainingColors" />
    <img
      class="player"
      src="~/assets/penguin_color.png"
      :style="`left: ${3 + playerPosition.x * 40}px; top: ${playerPosition.y * 40}px;`"
    >
  </div>
</template>

<script>
import CircleField from './circle-field'
import RemainingColors from './remaining-colors'

const colors = ['red', 'blue', 'green', 'yellow']

export default {
  components: {
    CircleField,
    RemainingColors
  },

  data() {
    const size = 14

    const fields = []
    for (let i = 0; i < size; i++) {
      const row = []
      for (let j = 0; j < size; j++) {
        const field = {
          id: i * size + j,
          color: colors[Math.floor(Math.random() * colors.length)]
        }
        row.push(field)
      }
      fields.push(row)
    }

    fields[0][size / 2].color = 'black'
    fields[size - 1][size / 2].color = 'white'

    const playerPosition = {
      x: size / 2,
      y: size - 1
    }

    const remainingColors = {}
    colors.forEach(c => {
      remainingColors[c] = 4
    })

    return {
      fields,
      remainingColors,
      playerPosition
    }
  },

  methods: {
    isValid(rowIndex, columnIndex) {
      const xDelta = Math.abs(this.playerPosition.x - columnIndex)
      const yDelta = Math.abs(this.playerPosition.y - rowIndex)
      if (xDelta > 1 || yDelta > 1) {
        return false
      }

      return xDelta + yDelta === 1
    },

    moveTo(rowIndex, columnIndex) {
      if (!this.isValid(rowIndex, columnIndex)) {
        return
      }

      this.playerPosition = {
        x: columnIndex,
        y: rowIndex
      }

      const field = this.fields[rowIndex][columnIndex]

      if (field.color === 'black') {
        alert('You won!')
        location.reload()
      } else if (field.color !== 'white') {
        if (this.remainingColors[field.color] === 0) {
          alert('You lost!')
          location.reload()
        } else {
          this.remainingColors[field.color] -= 1
        }
      }
    }
  }
}
</script>

<style>
.grid {
  position: relative;
}

.player {
  height: 32px;
  width: 32px;
  position: absolute;
}
</style>
