<template>
  <div class="remaining-colors">
    <div class="row" v-for="(count, color) in values" :key="color">
      <circle-field :color="color" />
      <span>{{ count }}</span>
    </div>
  </div>
</template>

<script>
import CircleField from './circle-field'
export default {
  components: { CircleField },
  props: {
    values: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>
.remaining-colors {
  position: absolute;
  right: -100px;
  top: 50%;
}

.remaining-colors span {
  padding-top: 6px;
}
</style>
