<template>
  <section class="container">
    <div>
      <h1 class="title">
        195+1 circles
      </h1>
      <h2 class="subtitle">
        made by @winniehell and @dasMaichen
      </h2>
      <game-grid />
      <music filePath="loop" />
    </div>
  </section>
</template>

<script>
import GameGrid from '../components/game-grid'
import Music from '../components/music'

export default {
  components: {
    GameGrid,
    Music
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 32px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 16px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
